<div class="container">
  <div class="row my-5 text-center">
    <div class="col-12">
      <h2>{{ character.name }}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <app-character-info
        [label]="'Birth Year'"
        [detail]="character.birth_year"
      ></app-character-info>
      <app-character-info
        [label]="'Eye Colour'"
        [detail]="character.eye_color"
      ></app-character-info>
      <app-character-info
        [label]="'Gender'"
        [detail]="character.gender"
      ></app-character-info>
      <app-character-info
        [label]="'Hair Colour'"
        [detail]="character.hair_color"
      ></app-character-info>
      <app-character-info
        [label]="'Height'"
        [detail]="character.height"
      ></app-character-info>
      <app-character-info
        [label]="'Weight'"
        [detail]="character.mass"
      ></app-character-info>
      <app-character-info
        [label]="'Skin Color'"
        [detail]="character.skin_color"
      ></app-character-info>
    </div>
  </div>

  <div class="row mt-5 mb-4 text-center">
    <div class="col-12">
      <h4>Films</h4>
    </div>
  </div>
  <div class="row text-center">
    <ng-container *ngFor="let film of character.films">
      <div class="col-12 mb-4">
        <a
          class="link-light"
          href="javascript:void(0)"
          [routerLink]="['/details', film.id]"
          >{{ film.title }}</a
        >
      </div>
    </ng-container>
  </div>
</div>
