@import './src/assets/css/variables.scss';

.navbar {
  background-color: $background !important;
  border-bottom: 1px solid $star-wars-yellow;
  .navbar-brand {
    img {
      width: 150px;
    }
  }
}
