<div class="container">
  <div class="row my-5 text-center">
    <div class="col-12">
      <h2>{{ film.title }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 col-md-4 offset-md-0 mb-4 mb-md-0">
      <img [src]="film.poster_img" alt="" class="w-100" />
    </div>
    <div class="col-12 col-md-8">
      <div class="row mb-3">
        <div class="col-6 col-md-4 star-wars-yellow">Producer:</div>
        <div class="col-6 col-md-8">
          {{ film.producer }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6 col-md-4 star-wars-yellow">Director:</div>
        <div class="col-6 col-md-8">
          {{ film.director }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6 col-md-4 star-wars-yellow">Release date:</div>
        <div class="col-6 col-md-8">
          {{ film.release_date | date : 'dd MMM yyyy' }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 star-wars-yellow opening-crawl">
          {{ film.opening_crawl }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-4 text-center">
    <div class="col-12">
      <h4>The Characters</h4>
    </div>
  </div>
  <ng-container *ngIf="characters.length">
    <div class="row">
      <ng-container *ngFor="let character of characters">
        <div class="col-6 col-md-4 mb-2">
          <a
            class="link-light"
            href="javascript:void(0)"
            [routerLink]="['/character', character.id]"
          >
            {{ character.name }}
          </a>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
